.aui-page-panel-content {
    width: 100%;
}

.aui-page-panel-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    vertical-align: top;
}

.aui-group {
    margin-top: 10px;
    display: table;
    box-sizing: border-box;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
}

.aui-item {
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;
}

.section-title h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.issue-id {
    font-size: 14px;
}

.issue-main-content h1 {
    font-size: 20px;
}

.issue-description p {
    margin-top: 10px;
    font-size: 14px;
}

.author-name {
    font-weight: bold;
    float: left;
    margin-right: 5px;
}

.created_at {
    color: #707070;
    font-size: small;
}

.sidebar {
    padding-left: 40px;
    width: 350px;
    display: table-cell;
    box-sizing: border-box;
}

.issue-attrs {
    border: 1px #ccc solid;
    border-radius: 5px;
    padding: 10px;
}

.issue-attrs dl {
    margin: 5px 0;
    padding-left: 120px;
}

.issue-attrs dt {
    float: left;
    margin-left: -135px;
    text-align: right;
    width: 120px;
}

dl {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

dt {
    display: block;
}

a:hover {
    color: #3572b0;
    text-decoration: underline;
    background-color: transparent;
}

a:active {
    color: #3572b0;
    background-color: transparent;
}

a:link {
    color: #3572b0;
    background-color: transparent;
}

a:visited {
    color: #3572b0;
    background-color: transparent;
}

.ref.issue-type {
    text-decoration: none;
}

dd {
    display: block;
    -webkit-margin-start: 40px;
}

.issue-attrs dd {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div {
    display: block;
}